body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000;

    font-family: helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ff0000;
    color: #f4f4f4;
    padding: 8px;
    text-align: center;
}

header h1 {
    font-size: 1.5em;
    margin: 10px 0 5px;
}

header p {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #c01313;
    text-align: center;
}

nav ul {
    margin: 0px;
    padding: 4px;
}

nav li {
    display: inline-block;
    padding: 10px;
}


nav a {
    border-radius: 8px;
    color: #f4f4f4;
    padding: 8px;
    font: bold 1em helvetica, sans-serif;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff0000;
}

nav a:active,
button:active {
    outline: 2px solid #970e0e;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.detalhes-veiculo {
    margin: 20px auto;
    max-width: 700px;
}

.detalhe-card {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000005b;
}

.detalhe-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.detalhe-card h2{
    text-align: center;
}

.galeria-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center; 
}

.galeria-imagens img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.galeria-imagens img:hover {
    transform: scale(1.05);
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
    padding: 10px;
}